<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>board_mvc2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 확장자가 .me면 무조건 이쪽으로 와서 MemberFrontController로 이동한다. -->
  <servlet>
  	 <!-- 3. 이쪽으로 이동해서 -->
     <servlet-name>MemberFrontController</servlet-name>
     <!-- 4. 이 Front-Controller로 이동한다. -->
     <servlet-class>com.koreait.app.member.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	 <!-- 2. MemberFront-Controller라는 이름의 서블릿으로 찾아감 -->
     <servlet-name>MemberFrontController</servlet-name>
	 <!-- 1. *.me라는 확장자가 들어오면 -->
     <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
</web-app>